<div
   style="height: 100vh;padding-top: 150px;"
   class="d-flex flex-column container"
>
  <ul class="list-primary">
    <li>Gaddour</li>
    <li class="Hamza" (click)="myClick($event)" [appColor]="{color:'green', backgroundColor:'black'}">Hamza</li>
    <li>Caligula</li>
  </ul>

  <!-- <span appColor [colorSurLignage]="'red'">
    je suis surligne red
  </span>
  <span appColor [colorSurLignage]="couleur">je suis surlignage couleur</span> -->



  <!-- <button *appIf="false">Hello</button> -->

  <!-- <ng-template [ngIf]="true">
    <button>Hello</button>
  </ng-template> -->



  <select #selectRole>
    <option value="admin">Admin</option>
    <option value="client">Client</option>
    <option value="manager">Manager</option>
  </select>

  <button (click)="login(selectRole.value)">Login</button>

  <div *appIf="'admin'">
    Que pour les Admins
  </div>

  <div *appIf="'client'">
    Que pour les Clients
  </div>

  <div *appIf="'manager'">
    Que pour les Manager
  </div>


</div>
